<h1>Notices#index</h1>
<p>Find me in app/views/notices/index.html.erb</p>

<!-- 정렬을 구현중 -->
<form action="/notices/index">
  <select id="order_by" name="order_by">
    <option value='0'>없음</option>
    <option value='1'>제목</option>
    <option value='2'>작성자</option>
    <option value='3'>조회수</option>
  </select>
  <button type="submit">선택</button>
</form>
<!-- ./ 정렬 구현중 -->

<table>
  <thead>
    <tr>
      <td>no</td>
      <td>제목</td>
      <td>작성자</td>
      <td>조회수</td>
    </tr>
  </thead>
  <tbody>
    <% @notices.each do |n| %>
      <tr>
        <td><%= n.id %></td>
        <td>
          <a href="/notices/show/<%= n.id %>"><%= n.title %></a>
        </td>
        <td>관리자</td>
        <td><%= n.hit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @notices %>

<a href="/notices/new">New Notice</a>