<div class="float-left" style="padding-right: 10px;">
  <h3>공지사항</h3>
</div>

<!-- 새 글 작성 버튼 -->
<a href="/notices/new"><button class="btn btn-warning btn-sm">New Notice</button></a>
<!-- ./ 새 글 작성 버튼 -->

<!-- 정렬 구현 -->
<!--<form action="/notices/index">-->
<!--  <select id="order_by" name="order_by">-->
<!--    <option value='0'>없음</option>-->
<!--    <option value='1'>제목</option>-->
<!--    <option value='2'>작성자</option>-->
<!--    <option value='3'>조회수</option>-->
<!--  </select>-->
<!--  <button type="submit">선택</button>-->
<!--</form>-->
<!-- ./ 정렬 구현 -->

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th>No</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @notices.each do |n| %>
        <tr>
          <td><%= n.id %></td>
          <td>
            <a href="/notices/show/<%= n.id %>" style="color: #ffc107;"><%= n.title %></a>
          </td>
          <td>관리자</td>
          <td><%= n.hit %></td>
          <td><%= n.updated_at.strftime("%Y-%m-%d-%T") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- 검색 구현 -->
  <div class="float-right">
    <form class="form-group form-inline my-2 my-lg-0" action="/notices/index">
      <select class="form-control form-control-sm mr-sm-2" id="sb" name="sb">
        <option value='1'>제목</option>
        <option value='2'>내용</option>
      </select>
      <input class="form-control form-control-sm mr-sm-2" type="text" name="st" placeholder="Search Text">
      <button class="btn btn-warning btn-sm my-2 my-sm-0" type="submit">검색</button>
    </form>
  </div>
  <!-- ./ 검색 구현 -->

  <%= paginate @notices %>

</div>