<h3><%= @notice.title %></h3>
<% if @notice.attachment != nil %>
  <%= link_to "첨부파일 다운로드", @notice.attachment,
              download: "#{@notice.title} 첨부파일" %>
<% else %>
  <p style="color: gray;">첨부파일 없음</p>
<% end %>

<hr/>

<h5><%=@notice.content.html_safe %></h5>

<hr/>

<form class="float-right div-margin-bottom" action="/notices/delete/<%= @notice.id %>" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <a href="/notices/index"><button type="button" class="btn btn-info btn-sm">목록</button></a>
  <a href="/notices/edit/<%= @notice.id %>"><button type="button" class="btn btn-warning btn-sm">수정</button></a>
	<button class="btn btn-danger btn-sm" type="submit">삭제</button>
</form>