<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: '학번을 입력하세요.' %>
    <%= f.input :password, required: true, label: false, placeholder: 'PW를 입력하세요.', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: '다시 한번 PW를 입력하세요.' %>
    
    <!-- 새로 추가한 항목들 -->
    <%= f.input :student_name, required: true, label: false, placeholder: '이름을 입력하세요.' %>
    <%= f.input :grade, required: true, label: false, placeholder: '학년을 입력하세요.' %>
    <%= f.input :phone_number, required: true, label: false, placeholder: '핸드폰 번호를 입력하세요.' %>
    <%= f.input :mail, required: true, label: false, placeholder: 'email을 입력하세요.' %>
    <%= f.collection_select(:department_id, Department.all, :id, :department_name, :prompt => true) %>
    <%= f.input :bank_name, required: true, label: false, placeholder: '거래 은행을 입력하세요.' %>
    <%= f.input :bank_account, required: true, label: false, placeholder: '은행 계좌를 입력하세요.' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
