<h3>멘토 신청서 수정</h3>

<form action="/students/applyMentorUpdate" class="form-group" method="post" enctype="multipart/form-data">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="div-margin-top" style="width: 20%;">
    <label for="semester_id">해당 학기</label>
    <select class="form-control" id="semester_id" name="semester_id">
      <% @semesters.each do |s| %>
        <% if s.semester_able %>
          <option value='<%= s.id %>'><%= s.semester_name %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="div-margin-top" style="width: 50%;">
    <label for="team_name">팀 이름</label>
    <input class="form-control" id="team_name" name="team_name" value="<%= @apply.team_name %>">
  </div>

  <div class="div-margin-top" style="width: 50%;">
    <label for="subject">멘토링 주제</label>
    <input class="form-control" id="subject" name="subject" value="<%= @apply.subject %>">
  </div>

  <div class="div-margin-top">
    <label for="purpose">학습 목표</label>
    <textarea class="form-control" id="purpose" name="purpose" rows="10"><%= @apply.purpose %></textarea>
  </div>

  <div class="div-margin-top">
    <label for="content">내용</label>
    <textarea class="form-control" id="content" name="content" rows="10"><%= @apply.content %></textarea>
  </div>

  <div class="div-margin-top">
    <label for="method">학습 방법</label>
    <textarea class="form-control" id="method" name="method" rows="10"><%= @apply.method %></textarea>
  </div>

  <hr/>

  <div class="div-margin-top">
    <% if @apply.attachment != nil %>
      <div class="alert alert-success" role="alert">
        이미 업로드된 포트폴리오가 있습니다. 포트폴리오를 새로 업로드할 경우 기존의 포트폴리오와 대체됩니다.
      </div>
    <% end %>
    <label for="attachment">포트폴리오</label>
    <input class="form-control-file" type="file" id="attachment" name="attachment">
  </div>

  <hr/>

  <div class="div-margin-bottom float-right">
    <button class="btn btn-warning" type="submit">수정</button>
    <a class="btn btn-danger" href="/students/applyMentorDelete">신청 기록 삭제</a>
  </div>
</form>
