<!-- 해당 멘토방 세부 정보 -->
<h3><%= @selectedRoom.user.department.department_name %> <%= @selectedRoom.user.grade %>학년</h3>
<h3><%= @selectedRoom.user.student_name %>의 멘토방</h3>
<% if @selectedRoom.attachment != nil %>
  <%= link_to "멘토 포트폴리오 다운로드", @selectedRoom.attachment,
              download: "#{@selectedRoom.user.student_name} 포트폴리오" %>
<% else %>
  <p style="color: gray;">포트폴리오 없음</p>
<% end %>

<hr/>

<div class="div-margin-bottom">
  <div class="div-margin-top form-group" style="width: 20%;">
    <label for="semester_id">해당 학기</label>
    <input class="form-control" id="semester_id" name="semester_id" value="<%= @selectedRoom.semester.semester_name %>" disabled>
  </div>

  <div class="div-margin-top" style="width: 50%;">
    <label for="team_name">팀 이름</label>
    <input class="form-control" id="team_name" name="team_name" value="<%= @selectedRoom.team_name %>" disabled>
  </div>

  <div class="div-margin-top" style="width: 50%;">
    <label for="subject">멘토링 주제</label>
    <input class="form-control" id="subject" name="subject" value="<%= @selectedRoom.subject %>" disabled>
  </div>

  <div class="div-margin-top">
    <label for="purpose">학습 목표</label>
    <textarea class="form-control" id="purpose" name="purpose" rows="10" disabled><%= @selectedRoom.purpose %></textarea>
  </div>

  <div class="div-margin-top">
    <label for="content">내용</label>
    <textarea class="form-control" id="content" name="content" rows="10" disabled><%= @selectedRoom.content %></textarea>
  </div>

  <div class="div-margin-top">
    <label for="method">학습 방법</label>
    <textarea class="form-control" id="method" name="method" rows="10" disabled><%= @selectedRoom.method %></textarea>
  </div>

  <hr/>

  <!-- 멘토방 구성 인원을 출력합니다. -->
  <h5>멘토방 구성 인원</h5>
  <div class="row">
    <div class="col"></div>

    <div class="col-6">
      <div class="table-responsive text-center">
        <table class="table">
          <thead>
          <tr>
            <th>이름</th>
            <th>권한</th>
            <th>#</th>
          </tr>
          </thead>
          <tbody>
          <% @roomMembers.each do |r| %>
            <tr>
              <td><%= r.user.student_name %></td>
              <td>
                <% if r.user.authorization == '1' || r.user.authorization == '0' %>
                  멘토
                <% else %>
                  멘티
                <% end %>
              </td>
              <td>
                <!-- 해당 멘토방의 멘토인 경우에만 멘티를 삭제할 수 있습니다. -->
                <% if current_user.id == @selectedRoom.user_id && r.user.authorization == '1' %>
                  <form action="/mentors/deleteMyMentee/<%= r.user.id %>" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button class="btn btn-light btn-sm" type="submit">삭제</button>
                  </form>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col"></div>
  </div>

  <hr/>
  <% if current_user.authorization == '2' %>
    <% if @roomAll.where(:user_id => current_user.id).empty? %>
      <!-- 신청한 멘토방이 1개라도 있으면 중복 신청 불가능 -->
      <form action="/students/applyMentee/<%= @selectedRoom.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button class="btn btn-warning" type="submit">멘티 신청</button>
      </form>
    <% else %>
      <!--
      멘토방에 신청한 내역이 있다면 1개 밖에 없고,
      신청 버튼이 없다면 이 멘토방에 신청한 것이기 때문에
      취소 버튼 활성화
      -->
      <form action="/students/deleteApplyMentee/<%= current_user.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button class="btn btn-warning" type="submit">멘티 신청 취소</button>
      </form>
    <% end %>
  <% end %>

</div>