<style>
  .custom-card {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
</style>

<div style="text-align: center;">
  <h3>전체 멘토방</h3>
  <div class="container">
    <div class="row">
      <!-- 실제 데이터가 출력되는 이미지 틀 -->
      <% @mentorRooms.each do |m| %>
        <div class="col-sm">
          <div class="card custom-card">
            <img class="card-img-top" src="<%= asset_path 'prodo2.png' %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= m.user.student_name %></h5>
              <p class="card-text"><%= m.subject %></p>
              <!-- TODO 인원 / 최대 인원 보여주기 -->
              <a href="/students/findOneRoom/<%= m.id %>" class="btn btn-warning btn-sm">자세히</a>
              <% if current_user.authorization == '0' %>
                <a href="/admin/mentorRoomDelete/<%= m.id %>" class="btn btn-danger btn-sm">삭제</a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- ./ 실제 데이터가 출력되는 이미지 틀 -->

      <!-- 샘플 이미지 틀 -->
      <div class="col-sm">
        <div class="card custom-card">
          <img class="card-img-top" src="<%= asset_path 'prodo2.png' %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card custom-card">
          <img class="card-img-top" src="<%= asset_path 'prodo1.jpg' %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-- ./ 샘플 이미지 틀 -->
    </div>
    <!-- ./ div.row -->
  </div>
  <!-- ./ div.container -->
</div>
