<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">Student_name</Data></Cell>
        <Cell><Data ss:Type="String">Grade</Data></Cell>
        <Cell><Data ss:Type="String">Phone_number</Data></Cell>
        <Cell><Data ss:Type="String">Department_id</Data></Cell>
      </Row>
      <% @userAll.each do |user| %>
        <Row>
          <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.student_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.grade %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.phone_number %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= user.department_id %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>