<table>
  <thead>
    <tr>
      <td>#</td>
      <td>학번</td>
      <td>이름</td>
      <td>소속</td>
      <td>학년</td>
      <td>전화번호</td>
      <td>이메일</td>
      <td>은행/계좌</td>
      <td>권한</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <form action="/admin/mentorApplyConfirm" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <tr>
        <td><%= check_box_tag "users[]", u.user.id %></td>
        <td><%= u.user.email %></td>
        <td><%= u.user.student_name %></td>
        <td><%= u.user.department.department_name %></td>
        <td><%= u.user.grade %></td>
        <td><%= u.user.phone_number %></td>
        <td><%= u.user.mail %></td>
        <td><%= u.user.bank_name %>/<%= u.user.bank_account %></td>
        <td>
          <% if u.user.authorization == '0' %>
            관리자
          <% elsif u.user.authorization == '1' %>
            멘토
          <% else %>
            멘티
          <% end %>
        </td>
      </tr>
    <% end %>
    <button type="submit">승인</button>
    </form>
  </tbody>
</table>